*{
	padding: 0px;
	margin: 0px;
	list-style: none;
	text-decoration: unset;
	font-family: 'Conv_bpg-arial-webfont';

}
 a:hover{
            text-decoration: unset; 
          }
@font-face {
	font-family: 'Conv_bpg-arial-webfont';
	src: url('fonts/bpg-arial-webfont.eot');
	src: local('â˜º'), url('fonts/bpg-arial-webfont.woff') format('woff'), url('fonts/bpg-arial-webfont.ttf') format('truetype'), url('fonts/bpg-arial-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

$font: 'Conv_bpg-arial-webfont';
$color: #336A7E;

.top_heder_bg{
	background:#2E6583;
    

     ul{
             li{
               margin-right: 0px !important;
                &:last-child{
                	    transform: translateX(-5px);
                }
             }
               a.active{
     	     	background: #fff;
     	   	color: $color;
     	   	text-decoration: none;
     	   	font-weight: bold;
     	     }

     	a{
     	color: #fff;
     	font-size: 16px;
     		padding: 15px;
     	display:inline-block; 
     	font-weight: normal;
     	transition:0.2s;
     	   
     	   &:hover{
     	   	background: #fff;
     	   	color: $color;
     	   	text-decoration: none;
     	   	font-weight: bold;
     	   }
     	}
     }
     .right_side{
     	.kalata{
     		 margin-right: 50px;
     		  img{
     		  	margin-right: 12px;
     		  }
     	}
     	 a{
     	 	color: #fff;
     	 	font-style: 15px;
     	 	display: inline-block;

     	 	  &:hover{
                  text-decoration: none;
                  color: #ffdcdc;
                
     	 	  }
     	 }
     }

}
.sldier_link_over{
  position: absolute; width: 100%; height: 100%;
             left: 0;
             top: 0; z-index: 1;
}

header .navbar {
	 .navbar-nav{
	 	 li a.active{

	 	 	     padding: 0.3rem 1rem;
    display: inline-block;
           	&:before{
           		width: 100%;
           	}
           	&:hover{
           		text-decoration: none;
           	}
	 	 }
	 	   li a{
	 	   	color: #000;
	 	   	font-size: 15px;
	 	   	display: inline-block;
	 	   	transition: 0.3s;
	 	   	position: relative;
	 	   	margin-right: 5px;
	 	   	&:before{
	 	   		 content: '';
	 	   		 background: #2E6583;
	 	   		 height: 2px;
	 	   		 width:0%;
	 	   		 transform:translateX(-50%);
	 	   		 left: 50%;
	 	   		 bottom: 0px;
	 	   		 position: 	absolute;
	 	   		  	transition: 0.3s;


	 	   	}
	 	   	  &:hover::before{
                   width: 100%;
	 	   	  }
	 	   }
	 }
	 form{
	 	 input{
	 	 	color: #808080;
	 	 	border:1px solid #AAAAAA;
	 	 	border-right: 0px;
	 	 	 border-top-right-radius: 0px;
	 	 	 border-bottom-right-radius: 0px;
	 	 	 margin-right: 0px !important;
	 	 	     max-width: 170px;
	 	 }
	 	 button{
	 	 background: #fff;
         border:1px solid #AAAAAA;
         border-left: 0px;
         border-top-left-radius: 0px;
         border-bottom-left-radius: 0px;
	 	 }
	 }
}
#demo{
	    position: relative;
    background: url(images/sliderbg.png);
    background-position: center;
    /* background: red; */
    background-size: cover;
    height: 350px;
    // height: 100%;
    .carousel-inner{
    	height: 100%;
    }
     .carousel-item{
     	position: relative;
     	width: 100%;
     	height: 100%;
    background: red;
     	 .carousel-caption{
     	 	position: 	absolute;
     	 	left: 50%;
     	 	top: 50%;

     	 }
     }
    
}
.slider_bg{
    background: url(images/sliderbg.png);
    background-position: center;
    /* background: red; */
      overflow: hidden;
    background-size: cover;
          .left.carousel-control{
        position: absolute;
      top: 50%;
      transform:translate(-50%, -50%);
      font-size: 47px;
      color: #F5973B;
      left: 0px;
        z-index: 3;

   
     }
     .right.carousel-control{
        position: absolute;
        z-index: 3;
      top: 50%;
         right: -24px;
      transform:translate(-50%, -50%);
      font-size: 47px;
      color: #F5973B;
     }
     .carousel-caption{
        position: absolute;
        right: 10%;
        top: 14%;
        text-align:center;
          h3{
            font-size: 18px;
          }
          .slider_title_continue{
            font-size: 20px;
          }
          .old_price{
            color: #FFB200;
            font-size: 29px;
            display: inline-block;
            position: relative;
            margin-top: 40px;
             &:before{
                    position: absolute;
    content: '';
    transform: translate(-50%, -50%) rotate(12deg);
    left: 61px;
    top: 21px;
    height: 4px;
    width: 100%;
    background: #CA293A;
             }
          }
          .new_price{
               font-size: 34px;
               color: #F5973B;
               border:1px solid #F5973B;
               border-radius: 50px;
               padding: 8px 30px 10px;
               background: #fff;
               text-align: left;
               right: 0px;
               position:     relative;
               width: 1000px;
               margin-top: 34px;
          }
          
     }
     .slider_title_continue{

     }
     .slider_img{
           position: absolute;
    transform: translate(-50%, -50%);
    top: 54%;
    left: 24%;
     }
}
.mane_page_section{
  
  article{
     box-shadow: 0px 0px 7px rgba(0,0,0, .15);
     padding:32px 0px;
     margin: 20px 0; 

     .book_buy_item{
      position: relative;
      max-width: 148px;
   transition:0.3s;
   box-shadow: 0px 0px 6px rgba(0,0,0, .42);
             &:hover .hoverbg{
                  
                  opacity: 1;
                  visibility: visible;

                   transition:0.3s;
             }

      .hoverbg{
           position: absolute;
           transition:0.3s;
           opacity: 0;
    height: calc(100% );
    width: calc(100% );
    /* margin: 14px; */
    transform: translate(-50%, -50%);
          visibility: hidden;

    left: 50%;
    top: 50%;
    background: #2e658354;
      }
          .hover_block{
              position: absolute;
    left: 0;
    top: 0;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    /* margin: 14px; */
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    // background: #2E6583;
    border: 1px solid #E5AF1A;
           img{
          margin-top: 18px;
           }

           span{
              color: #E2AE2E;
              font-size: 20px;
              margin-top: 20px;
              margin-bottom: 17px;
              font-weight: bold;
           }

           a{
              font-size: 10px;
              background: #fff;
              padding: 3px 6px 4px;
              border-radius: 4px;
              color: #000; 

               &.buy{
                background: #E2AE2E;
                margin-bottom: 7px;
                transition:0.25s;
               }
           }

          }
     }

  }
   h3{
      color: #336A7E;
      font-size: 16px;
      font-weight: bold;
      margin-top: 55px;
     }
}

footer{
  background: #2E6583;
  padding: 25px 0 35px;
  ul li{
       font-size: 15px;
       color: #fff;
       margin-bottom: 15px;
       display: flex;


        &:last-child{
          margin-bottom: 0;
        }

        img{
          margin-right: 14px;
        }
  }
  .right_side{
        display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    .social_icons{

      border-bottom: 1px solid #fff;
      padding: 0 20px;

      a{
      color: #fff;
      font-size: 32px;
      margin-left: 10px;
         &:hover{
            text-decoration: unset;
         }
      }

    }
     p{
         color: #fff;
      }

  }
}

.books_section{
 margin-top: 80px;
 margin-bottom: 80px;
 min-height: 50vh;
        .books_section_item{
          box-shadow: 0 0 6px rgba(0,0,0, .15);
          max-width: 233px;
          height: 294px;
          transition:0.3s;
          display: block;

          margin-bottom: 30px;

              &:hover{
                 box-shadow: 0 0 10px rgba(0,0,0, .25);
                 & img{
                        transform: scale(1.1);
                 }
              }
              img{
                 transition:0.3s;
              }
          // height: 100%;
               .OLD_price{
                   color: #2E6583;
                   font-size: 18px;
                   position: relative;
                   font-weight: bold;
                    &:before{
                            content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background: #CA293A;
    left: 0px;
    top: 12px;
    transform: rotate(12deg);
                    }
                     &:after{
                           content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background: #CA293A;
    left: 0px;
    bottom: 12px;
    transform: rotate(-12deg);
                    }
               }

               .new_price{
                color:#F5973B;
                font-size: 20px;
                font-weight: bold; 
               }
               
        }

}

.instruction_section{
    margin-top: 70px;
    margin-bottom: 70px;
    color: $color;
    font-size: 15px;

     .container{
       // max-width: 950px;
     }

       h4{
        font-size: 20px;
       }
    .minecolor{
      color: $color;
    }
    ul{
      list-style-type: circle;
      margin-left: 70px;

       li{
        margin-bottom: 18px;
       }
    }


}
.aboutus_section{

  margin-top: 70px;
  margin-bottom: 170px;
   color: $color;
   font-size: 15px;
     img{
      max-width: 100%;
     }
    .fade_p{
      display: none;
    }
    .vvtt{
          transform: translateY(-40px);
    margin: 0px !important;
    }
    h4{
      font-size: 20px;
    }
    .more_saitisS{
      cursor: pointer;
     font-weight: bold;
    }
}
.add_block_b{
  transform:translateY(50px)
}

.more_books{

  margin-top: 100px;
    .book_info{

       h4{
          color: $color;
          font-size: 25px;
       }

       ul li{
          font-size: 15px;
       }
     p{
      // max-width: 450px;
     }
   }
   .add_book{
    color: #2E6583;
    
      display: inline-block;
      border:1px solid #2E6583;
      border-radius: 50px;
      padding: 6px 14px;
        input{
           width: 25px;
    text-align: center;
    border: none;
    color: #2E6583;
    font-weight: bold;
    font-size: 21px;
      }
      i{
        cursor: pointer;
        color: #2E6583;;
        font-size: 16px;
        display: inline-block;
         &.plus_book{
          margin-left: 20px;
         }
          &.minus_book{
          margin-right: 20px;
         }

      }

   }
    .price{
         color: $color;
         font-size: 23px;
         font-weight: bold;
      }
      .buy_b{
         border: 1px solid #C6C6C6;
         border-radius: 8px;
         color: $color;
         font-size: 18px;
         padding: 13px 47px;
         box-shadow: 0 0 6px rgba(0,0,0, .22);
         margin-top:10px;
         margin-bottom: 10px;
             transition:0.3s;
          &:hover{
            background: #67ac6e;
            border-color: #67ac6e;
          }
      }
      .add_b{
        font-size: 15px;
        color: $color;
         border-radius: 8px;
         padding: 7px 21px 7px 10px;
         border: 1px solid #C6C6C6;
         box-shadow: 0 0 6px rgba(0,0,0, .22);

         &:hover{
           background: #f6bd48;
           border-color: #f6bd48;
         }
          img{
           margin-right: 9px;
          }
      }
}
.more_books_img{
   box-shadow: 0 0 10px rgba(0,0,0, .31);
   max-width: 285px;
}

.coments_block{
  margin-top: 100px;
    .col-md-12{
      box-shadow: 0 0 6px rgba(0,0,0, .16);
    padding:  16px 40px;
    margin-bottom: 10px;
       i{
        font-size: 34px;
        color: #004988;
        margin-right: 20px;
       }
       .name{
          font-size: 13px;
          margin-bottom: 6px;
       }
    }
    .add_coment{
     margin-bottom: 70px;
       textarea{
        width:calc(100% - 100px);
          border:1px solid #707070;
          border-radius: 3px;
          padding: 5px 15px;
          color: #212121;
          font-size: 15px;
       }
       button{
        background: #34679A;
        font-size: 13px;
        border: 1px solid #707070;
        border-radius: 7px;
        padding: 6px;
        cursor: pointer;
        color: #fff;
       }
    }
}

.registration{

  margin-bottom: 120px;
  margin-top: 40px;

    ul {
          display: flex;
    justify-content: center;
    li a{
      font-size: 12px;
      color: $color !important;
         & .nav-link.active{

      border: unset !important;
         }

    }
    }
.tab-content{
  border: 1px solid #2E6583;
}
    
}

.login_logout{
    input{
         border: unset;
    font-size: 12px;
    color: #2E6583;
    width: 169px;
        &::placeholder{
      color: #2E6583;

        }
        &:focus{
           outline: none;
        }
    }

    .input_out{
      border-bottom: 1px solid #2E6583;
             margin-bottom: 25px;
             i{
              padding-left: 12px;
              padding-right: 12px;
              color: $color;
             }

             span{
                color: $color;
             }

    }
    .tab-pane{
          padding-right: 22px;
    padding-left: 22px;
    padding-top: 11px;
    padding-bottom: 20px;s

    form{
      text-align: center;
    }
           
           button{
          font-size: 12px;
          color: $color;
          border: 1px solid $color;
          background: transparent;
          padding: 4px 10px;
          border-radius: 60px;
          cursor: pointer;
          // margin-top: 40px;
           }
     .recovery_pass{
      display: block;
      text-align:center;
      margin-top: 60px;
      color: #2E6583;
      font-size: 12px;
     }
    }
    .errors{
      height: 40px;
      color: red;
      font-size: 13px;
    }

}
.produt_box_sh{
  box-shadow: 0 0 6px rgba(0,0,0, .15);
  background: #FCFCFC;
  padding-top: 20px;
  padding-bottom: 20px;
}
#Basket{
  color: $color;
  .book_item{
    padding: 0 60px;

      img{
        max-width: 70px;
        box-shadow: 0 0 10px rgba(0,0,0, .31);
        margin: 14px;
      }
  }
  .book_item_title{
    padding: 0 60px;
    padding-top: 60px;
    margin-bottom: 15px;
    font-weight: bold;

  }
  .item_price_b{
    font-size: 18px;
    font-weight: bold;
  }
  .item_price_sum{
   font-size: 18px;
   font-weight: bold; 
  }
    .delet_itemb{
           // margin-left: 50px;
           display: inline-block;
           cursor: pointer;
       }

}
.bbg{
  padding-right: 69px;
  margin-top: 40px;

    div:last-child{
      font-weight: bold;
    }
}
.reseand_books{
  padding-right: 69px;
  padding-bottom: 120px;

  button{
    color: $color;
  background: transparent;
  font-size: 17px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  }
  
}
.add_bookk{
  color: #2E6583;
    display: inline-block;
    border: 1px solid #2E6583;
    border-radius: 50px;
    padding: 4px 12px;
    i{
      font-size: 16px;
    }
       i.minus_book{
        margin-right: 16px;
       }
       i.plus_book{
        margin-left: 16px;
       }
       input{
            width: 25px;
    text-align: center;
    border: none;
    color: #2E6583;
    font-weight: bold;
    font-size: 16px;
    font-weight: bold;
       }


}
.balnce_section{
  margin-top: 80px;
  margin-bottom: 140px;

   .container{
     max-width: 850px;
   }
   .my_emauntbox{
    max-width: 320px;
    width: 100%;
    color: $color;
      border: 1px solid #2E6583;
  border-radius: 5px;
  padding: 24px 36px;
  margin-top: 80px;
   }
   .payment_box{
    max-width: 320px;
    width: 100%;
    color: $color;

    .p_inp{
       width: 85px;
       height: 25px;
       padding-left: 9px;
       font-size: 15px;
       border-radius: 5px;
       border:1px solid $color;
         color:$color;

        &::placeholder{
            color:$color;
        }
    }
        .box{
          background: #F5F5F5;
          border: 1px solid $color;
          border-radius: 13px;
          padding: 15px 20px;
          input{
            height: 33px;
            padding-left: 7px;
            border: 1px solid #2E6583;
            font-size: 12px;
            color: $color;

             &::placeholder{
                color:$color;
             }
          }
          .month,.year,.CCV{
            width: 55px;
          }
          .CCVT{
            font-size: 8px;
            text-align: right;
          }

        }
   }

}
.bbmt{
  margin-top: 14px;
  margin-bottom: 14px;
}

section.profile{
   margin-top: 100px;
   margin-bottom: 120px;
        .balance{
          color: $color;
          border: 1px solid $color;
          display: inline-block;
          max-width: 320px;
          width: 100%;
          border-radius: 5px;
          box-shadow: 0 0 5px rgba(0,0,0, .14);
          padding: 20px 36px;
          div{
             font-size: 15px;
          }
          div.my_bal{
            font-size: 19px;
            font-weight: bold;
            margin-top: 15px;
            display: inline-block;
          }
        }
        .book_item_title{
          padding-top: 40px !important;
        }
        .raodenob{
           font-size: 13px;
           span{
              font-size: 16px;
              font-weight: bold;
           }
        }
        .order_history_item{
                  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    background: #FCFCFC;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 75px;
    width: 100%;


   
        }
        .order_t{
          font-weight: bold;
          margin-top: 40px;
          margin-bottom: 15px;
          padding-left: 72px;
        }
}

section.order{
  color: $color;


    select{
      height: 36px;
       font-size: 12px;
       padding-left: 13px;
       border: 1px solid $color;
       border-radius: 5px; 
       padding-right: 13px;
        color: $color;
        margin-bottom: 13px !important;
        display: inline-block;
        margin-top: 10vh !important;

          option:first-child{
              display: none;
          }
    }
    input{
      height: 36px;
    }
    button{
      background: transparent;
      color: $color;
      border: none;
      font-weight: bold;
      margin-top: 10px;
      cursor: pointer;
      font-size: 12px;
    }
    textarea{
    min-height: 75px;
    }
     input,textarea{
          border: 1px solid #2E6583;
          border-radius: 4px;
          padding-left: 5px;
          font-size: 12px;
          color: $color;
           &::placeholder{
            color:$color;
            font-size: 12px;
           }
      }

    .pay_method{




       a{
          color: $color;
          font-size: 14px;
       }
       .circule{
        width: 8px;
        height: 8px;
        border: 1px solid $color;
        border-radius: 40px;
        margin-right: 6px;
       }
    }
    .procent46{
      width: 46%;
    }
}
.adgilze{
  color: #color;
  font-size: 14px;

}
.d_none{
  display: none !important;
}
#adgilze_gadaxda .circule{
  background: $color;
}

.pop_b{
    a{
      color: $color;
      font-weight: bold;
    }
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  height: 200px;
  border-radius: 5px;
  border: 1px solid $color;
  width: 100%;
  background: #fff;
  color: $color;

}
.cancel_pop{
   position: absolute;
   right: -15px;
   top: -15px;
   color: $color;
   cursor: pointer;
}


.Success{
    a{
      color: $color;
      font-weight: bold;
    }
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  height: 200px;
  border-radius: 5px;
  border: 1px solid $color;
  width: 100%;
  background: #fff;
  color: $color;

}

.navbar-toggler{
  background: url(images/bm.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.navbar-collapse{
  text-align: center;

  
}
.mane_page_section article .book_buy_item .hover_block a.buy:hover{
  background: #44ae0e;
  color: #fff;
}


  #accessories_sider{
    background: #2E6583;
    margin-bottom: 70px;
           img.slider_img{
                  border-radius: 500px;
                  left: 50%;
                  top: 45%;
                  background: #fff;
                  height: 270px;
                  width: 270px;

           }
           .carousel-caption{
            position: absolute;
    left: 3%;
    top: 26%;
    text-align: center;
           }
           .slider_title{
            font-size: 15px;
           }
           .carousel-caption{
            display: flex;
            text-align: left;
            max-width: 240px;

             .slider_title_continue{
              font-size: 13px;
             }
             .slider_more{
            color:#F5973B;
            font-size: 15px;
            font-weight: bold;
            margin-top: 40px;
            display: inline-block; 
             }
           }
       .left.carousel-control{
            left: -3%;
                z-index: 5;

       }
       .right.carousel-control{
        right: -5%;
            z-index: 5;
       }
       .buy_accessori{
        position: relative;
    max-width: 104px;
    position: absolute;
    right: 10%;
    top: 48%;
    transform: translate(-50%, -50%);
              div{
                color: #F5973B;
                margin-bottom: 10px;
                font-size: 20px;
                font-weight: bold;
              }
              a{
                display: inline-block;
                width: 97px;
                height: 37px;
                font-size: 18px;
                color: $color;
                border:1px solid #C6C6C6;
                border-radius: 8px;
                background: #fff;
                margin-bottom: 6px;

                 
              }
       }
  }
#accessories_nav{
   .navbar-dark .navbar-nav .nav-link{
      color: $color;
      display: inline-block;
      position: relative;
      transition:0.3s;

        &:hover{

         &:before{
             display: block;
         }

        }

         &:before{
                position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    background: #2e6583;
    transform: translateX(-50%) rotate(45deg);
    bottom: -36px;
    left: 50%;
    z-index: -1;
    display: none;
    transition:0.3s;
              }
       &.active{
                
              &:before{
              display: block;
              }

       }
   }
   ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
   }
}

@media only screen and (max-width: 1000px) {

      #accessories_nav .navbar-dark .navbar-nav .nav-link{
        font-size: 14px;
      }
  }

@media only screen and (max-width: 769px) {
  #accessories_sider .carousel-caption .slider_more{
    margin-top: 20px;
  }
  #accessories_nav .navbar-toggler{
    margin: auto;
    color: $color;
    background: none
  }
  #accessories_nav .navbar-dark .navbar-nav .nav-link{
    margin-bottom: 0px;
  }
  #accessories_nav .navbar-dark .navbar-nav .nav-link:before{
      display: none !important;
  }
  .navbar-collapse{
  text-align: center;

    form{
      text-align: center;
      max-width: 222px;
      margin: auto;
    }
}
#accessories_sider img.slider_img{
  width: 200px;
  height: 200px;
}

.top_heder_bg ul a {
    font-size: 14px;
    padding: 7px;

   
}
.top_heder_bg .right_side a{
  font-size: 14px;
}

.slider_bg .carousel-caption {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 14% ;
    text-align: center;
    color: #000;
}


.slider_bg .carousel-caption .new_price {
    font-size: 24px;
    color: #F5973B;
    border: 1px solid #F5973B;
    border-radius: 50px;
    padding: 6px 30px 8px;
    text-align: left;
    right: 0px;
    position: relative;
    width: 80%;
    margin: auto;
    margin-top: 16px;
    text-align: center;
}
 .mane_page_section article .book_buy_item{
  margin: auto;
  margin-bottom: 24px;
 }
 footer .left_side ul li{
   font-size: 13px;
 }
 footer .right_side p{
  text-align: center;
  font-size: 13px;
 }
 footer .right_side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.more_saitisS{
  text-decoration: underline;
}
.aboutus_section p,a,div,span,h4{
  text-align: center !important;
}
.aboutus_section .vvtt{
  transform:none;
  margin-top: 20px;
  text-align: center;
}
.aboutus_section {
    margin-top: 30px;
    }
  .add_bookk{
    padding: 1px 4px;
  }

.add_bookk i.minus_book {
    margin-right: 0px;
}
.add_bookk i.plus_book{
   margin-left: 0px;
}
#Basket .book_item{
  padding: 0px;
}
.book_item  > div{
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14px;
}
.book_item  > span{
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14px;
}
#Basket .book_item img{
  margin: 10px 4px;
}

.balnce_section .payment_box {
    max-width: 320px;
    width: 100%;
    color: #336A7E;
    margin: 41px auto;
}
.balnce_section .my_emauntbox{
  margin: auto;
}
.balnce_section {
    margin-top: 33px;
    margin-bottom: 140px;
}
#accessories_sider .carousel-caption {
    position: absolute;
    left: 12%;
        max-width: 176px;
    }
    #accessories_sider .buy_accessori {
    position: relative;
    max-width: 104px;
    position: absolute;
    right: -7%;
  }
  #accessories_sider .carousel-caption .slider_more{
    transform:unset !important;
    position: relative;
  }
  }


  @media only screen and (max-width: 576px) {

    footer .left_side ul li img{
       margin-right: 0px;
    }


      .top_header{
          flex-wrap: wrap;
    align-items: center;
    justify-content: center !important;
    }
    #accessories_sider .buy_accessori a {
    display: inline-block;
    width: 84px;
    height: 29px;
    font-size: 15px;
    color: #336A7E;
    border: 1px solid #C6C6C6;
    border-radius: 8px;
    background: #fff;
    margin-bottom: 6px;
}
#accessories_sider .slider_caption {
   background: #ffffffc2;
    border-radius: 10px;
}
#accessories_sider .left.carousel-control {
    left: 2%;
    }
    #accessories_sider .carousel-caption {
    position: absolute;
    left: 28%;
    max-width: 139px;
    font-size: 16px;
    font-weight: bold;
  }

   .book_item_k{
    flex-direction: column !important;

}
.add_bookk i{
  font-size: 14px;
}
#Basket .delet_itemb{
  transform:translateY(-50px)
}
#Basket .book_item {
  margin-bottom: 15px;
}
#Basket .book_item img{
  margin: auto;
}
.bbg{
  padding-right: 10px;
}
section.order .pay_method a {
    color: #336A7E;
    font-size: 13px;
}
.section.order select{
  margin-top: 3vw;
}
.registration{
  margin-top: 0px;
}
section.profile .order_history_item{
  padding-left: 13px;
}
section.profile .order_t{
  margin-left: auto;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 15px;
  padding-left: 0px;
}
section.profile {
    margin-top: 34px;
    margin-bottom: 70px;
}
.order_history_item{

   margin-bottom: 15px;
  justify-content: center;

}
  }

  @media only screen and (max-width: 520px) {

.top_heder_bg ul a {
  font-size: 11px;
    padding: 6px;
}
.top_heder_bg .right_side a {
    font-size: 12px;
}
.top_heder_bg .right_side .profile img{
  width: 14px;
}
.top_heder_bg .right_side .kalata img{
  margin-right: 4px;
  width: 14px;

  }
  .top_heder_bg .right_side .kalata{
    margin-right: 3px;

  }
  .top_header {
    padding-right: 5px;
    padding-left: 5px;
  }
  .navbar-brand img{
     // width: 40px;
  }

  footer .container{
    flex-wrap: wrap;
    justify-content: center !important;
    align-items: center;

  }
  footer .left_side ul li {
    font-size: 13px;
    flex-direction: column;
    text-align: center;
}
  footer .left_side ul{
    padding-bottom: 40px;
  }
.social_icons{
  margin-bottom: 10px; 
}
.instruction_section ul {
    list-style-type: circle;
    margin-left: 20px;
}
.more_books_img {
  width: calc(100% - 170px)
}
.add_block_b{
  transform:none;
}
.more_books .add_book {
    
    border-radius: 50px;
    padding: 0px 10px;
}
.more_books .buy_b {
    font-size: 17px;
    padding: 4px 29px;
    margin-top: 8px;
    margin-bottom: 8px;
    transition: 0.3s;
}
.more_books .add_b {
    font-size: 12px;
   
    border-radius: 8px;
    padding: 1px 21px 7px 10px;
    
  
}
.more_books .book_info h4 {
    color: #336A7E;
    font-size: 18px;
    text-align: center;
    margin-top: 19px;
}
.more_books .book_info p{
   text-align: center;
}
.more_books .book_info ul{
  text-align: center;
}
.coments_block .add_coment textarea {
    width: calc(100% - 87px);
   min-height:87px;;
    }
    .more_books {
    margin-top: 30px;
}
}
