*{
	padding: 0px;
	margin: 0px;
	list-style: none;
	text-decoration: unset;
	font-family: 'Conv_bpg-arial-webfont';

}
@font-face {
	font-family: 'Conv_bpg-arial-webfont';
	src: url('fonts/bpg-arial-webfont.eot');
	src: local('â˜º'), url('fonts/bpg-arial-webfont.woff') format('woff'), url('fonts/bpg-arial-webfont.ttf') format('truetype'), url('fonts/bpg-arial-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

$font: 'Conv_bpg-arial-webfont';
$color: #336A7E;

.top_heder_bg{
	background:#2E6583;
    

     ul{
             li{
               margin-right: 0px !important;
                &:last-child{
                	    transform: translateX(-5px);
                }
             }
               a.active{
     	     	background: #fff;
     	   	color: $color;
     	   	text-decoration: none;
     	   	font-weight: bold;
     	     }

     	a{
     	color: #fff;
     	font-size: 16px;
     		padding: 15px;
     	display:inline-block; 
     	font-weight: normal;
     	transition:0.2s;
     	   
     	   &:hover{
     	   	background: #fff;
     	   	color: $color;
     	   	text-decoration: none;
     	   	font-weight: bold;
     	   }
     	}
     }
     .right_side{
     	.kalata{
     		 margin-right: 50px;
     		  img{
     		  	margin-right: 12px;
     		  }
     	}
     	 a{
     	 	color: #fff;
     	 	font-style: 15px;
     	 	display: inline-block;

     	 	  &:hover{
                  text-decoration: none;
                  color: #ffdcdc;
                
     	 	  }
     	 }
     }

}

header .navbar {
	 .navbar-nav{
	 	 li a.active{

	 	 	     padding: 0.5rem 1rem;
    display: inline-block;
           	&:before{
           		width: 100%;
           	}
           	&:hover{
           		text-decoration: none;
           	}
	 	 }
	 	   li a{
	 	   	color: #000;
	 	   	font-size: 15px;
	 	   	display: inline-block;
	 	   	transition: 0.3s;
	 	   	position: relative;
	 	   	margin-right: 5px;
	 	   	&:before{
	 	   		 content: '';
	 	   		 background: #2E6583;
	 	   		 height: 2px;
	 	   		 width:0%;
	 	   		 transform:translateX(-50%);
	 	   		 left: 50%;
	 	   		 bottom: 0px;
	 	   		 position: 	absolute;
	 	   		  	transition: 0.3s;


	 	   	}
	 	   	  &:hover::before{
                   width: 100%;
	 	   	  }
	 	   }
	 }
	 form{
	 	 input{
	 	 	color: #808080;
	 	 	border:1px solid #AAAAAA;
	 	 	border-right: 0px;
	 	 	 border-top-right-radius: 0px;
	 	 	 border-bottom-right-radius: 0px;
	 	 	 margin-right: 0px !important;
	 	 	     max-width: 170px;
	 	 }
	 	 button{
	 	 background: #fff;
         border:1px solid #AAAAAA;
         border-left: 0px;
         border-top-left-radius: 0px;
         border-bottom-left-radius: 0px;
	 	 }
	 }
}
#demo{
	    position: relative;
    background: url(images/sliderbg.png);
    background-position: center;
    /* background: red; */
    background-size: cover;
    height: 350px;
    // height: 100%;
    .carousel-inner{
    	height: 100%;
    }
     .carousel-item{
     	position: relative;
     	width: 100%;
     	height: 100%;
    background: red;
     	 .carousel-caption{
     	 	position: 	absolute;
     	 	left: 50%;
     	 	top: 50%;

     	 }
     }
    
}
.slider_bg{
    background: url(images/sliderbg.png);
    background-position: center;
    /* background: red; */
      overflow: hidden;
    background-size: cover;
          .left.carousel-control{
        position: absolute;
      top: 50%;
      transform:translate(-50%, -50%);
      font-size: 47px;
      color: #F5973B;

   
     }
     .right.carousel-control{
        position: absolute;
      top: 50%;
     right: -24px;
      transform:translate(-50%, -50%);
      font-size: 47px;
      color: #F5973B;
     }
     .carousel-caption{
        position: absolute;
        right: 10%;
        top: 14%;
        text-align:center;
          h3{
            font-size: 18px;
          }
          .slider_title_continue{
            font-size: 20px;
          }
          .old_price{
            color: #FFB200;
            font-size: 29px;
            display: inline-block;
            position: relative;
            margin-top: 40px;
             &:before{
                    position: absolute;
    content: '';
    transform: translate(-50%, -50%) rotate(12deg);
    left: 61px;
    top: 21px;
    height: 4px;
    width: 100%;
    background: #CA293A;
             }
          }
          .new_price{
               font-size: 34px;
               color: #F5973B;
               border:1px solid #F5973B;
               border-radius: 50px;
               padding: 8px 30px 10px;
               background: #fff;
               text-align: left;
               right: 0px;
               position:     relative;
               width: 1000px;
               margin-top: 34px;
          }
          
     }
     .slider_title_continue{

     }
     .slider_img{
        position: absolute;
         transform: translate(-50%, -50%);
         top: 50%;
         left: 19%;
     }
}