@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-decoration: unset;
  font-family: 'Conv_bpg-arial-webfont'; }

a:hover {
  text-decoration: unset; }

@font-face {
  font-family: 'Conv_bpg-arial-webfont';
  src: url("fonts/bpg-arial-webfont.eot");
  src: local("â˜º"), url("fonts/bpg-arial-webfont.woff") format("woff"), url("fonts/bpg-arial-webfont.ttf") format("truetype"), url("fonts/bpg-arial-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
.top_heder_bg {
  background: #2E6583; }
  .top_heder_bg ul li {
    margin-right: 0px !important; }
    .top_heder_bg ul li:last-child {
      transform: translateX(-5px); }
  .top_heder_bg ul a.active {
    background: #fff;
    color: #336A7E;
    text-decoration: none;
    font-weight: bold; }
  .top_heder_bg ul a {
    color: #fff;
    font-size: 16px;
    padding: 15px;
    display: inline-block;
    font-weight: normal;
    transition: 0.2s; }
    .top_heder_bg ul a:hover {
      background: #fff;
      color: #336A7E;
      text-decoration: none;
      font-weight: bold; }
  .top_heder_bg .right_side .kalata {
    margin-right: 50px; }
    .top_heder_bg .right_side .kalata img {
      margin-right: 12px; }
  .top_heder_bg .right_side a {
    color: #fff;
    font-style: 15px;
    display: inline-block; }
    .top_heder_bg .right_side a:hover {
      text-decoration: none;
      color: #ffdcdc; }

.sldier_link_over {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1; }

header .navbar .navbar-nav li a.active {
  padding: 0.3rem 1rem;
  display: inline-block; }
  header .navbar .navbar-nav li a.active:before {
    width: 100%; }
  header .navbar .navbar-nav li a.active:hover {
    text-decoration: none; }
header .navbar .navbar-nav li a {
  color: #000;
  font-size: 15px;
  display: inline-block;
  transition: 0.3s;
  position: relative;
  margin-right: 5px; }
  header .navbar .navbar-nav li a:before {
    content: '';
    background: #2E6583;
    height: 2px;
    width: 0%;
    transform: translateX(-50%);
    left: 50%;
    bottom: 0px;
    position: absolute;
    transition: 0.3s; }
  header .navbar .navbar-nav li a:hover::before {
    width: 100%; }
header .navbar form input {
  color: #808080;
  border: 1px solid #AAAAAA;
  border-right: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-right: 0px !important;
  max-width: 170px; }
header .navbar form button {
  background: #fff;
  border: 1px solid #AAAAAA;
  border-left: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px; }

#demo {
  position: relative;
  background: url(images/sliderbg.png);
  background-position: center;
  /* background: red; */
  background-size: cover;
  height: 350px; }
  #demo .carousel-inner {
    height: 100%; }
  #demo .carousel-item {
    position: relative;
    width: 100%;
    height: 100%;
    background: red; }
    #demo .carousel-item .carousel-caption {
      position: absolute;
      left: 50%;
      top: 50%; }

.slider_bg {
  background: url(images/sliderbg.png);
  background-position: center;
  /* background: red; */
  overflow: hidden;
  background-size: cover; }
  .slider_bg .left.carousel-control {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 47px;
    color: #F5973B;
    left: 0px;
    z-index: 3; }
  .slider_bg .right.carousel-control {
    position: absolute;
    z-index: 3;
    top: 50%;
    right: -24px;
    transform: translate(-50%, -50%);
    font-size: 47px;
    color: #F5973B; }
  .slider_bg .carousel-caption {
    position: absolute;
    right: 10%;
    top: 14%;
    text-align: center; }
    .slider_bg .carousel-caption h3 {
      font-size: 18px; }
    .slider_bg .carousel-caption .slider_title_continue {
      font-size: 20px; }
    .slider_bg .carousel-caption .old_price {
      color: #FFB200;
      font-size: 29px;
      display: inline-block;
      position: relative;
      margin-top: 40px; }
      .slider_bg .carousel-caption .old_price:before {
        position: absolute;
        content: '';
        transform: translate(-50%, -50%) rotate(12deg);
        left: 61px;
        top: 21px;
        height: 4px;
        width: 100%;
        background: #CA293A; }
    .slider_bg .carousel-caption .new_price {
      font-size: 34px;
      color: #F5973B;
      border: 1px solid #F5973B;
      border-radius: 50px;
      padding: 8px 30px 10px;
      background: #fff;
      text-align: left;
      right: 0px;
      position: relative;
      width: 1000px;
      margin-top: 34px; }
  .slider_bg .slider_img {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 54%;
    left: 24%; }

.mane_page_section article {
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
  padding: 32px 0px;
  margin: 20px 0; }
  .mane_page_section article .book_buy_item {
    position: relative;
    max-width: 148px;
    transition: 0.3s;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.42); }
    .mane_page_section article .book_buy_item:hover .hoverbg {
      opacity: 1;
      visibility: visible;
      transition: 0.3s; }
    .mane_page_section article .book_buy_item .hoverbg {
      position: absolute;
      transition: 0.3s;
      opacity: 0;
      height: calc(100% );
      width: calc(100% );
      /* margin: 14px; */
      transform: translate(-50%, -50%);
      visibility: hidden;
      left: 50%;
      top: 50%;
      background: #2e658354; }
    .mane_page_section article .book_buy_item .hover_block {
      position: absolute;
      left: 0;
      top: 0;
      height: calc(100% - 20px);
      width: calc(100% - 20px);
      /* margin: 14px; */
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
      border: 1px solid #E5AF1A; }
      .mane_page_section article .book_buy_item .hover_block img {
        margin-top: 18px; }
      .mane_page_section article .book_buy_item .hover_block span {
        color: #E2AE2E;
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 17px;
        font-weight: bold; }
      .mane_page_section article .book_buy_item .hover_block a {
        font-size: 10px;
        background: #fff;
        padding: 3px 6px 4px;
        border-radius: 4px;
        color: #000; }
        .mane_page_section article .book_buy_item .hover_block a.buy {
          background: #E2AE2E;
          margin-bottom: 7px;
          transition: 0.25s; }
.mane_page_section h3 {
  color: #336A7E;
  font-size: 16px;
  font-weight: bold;
  margin-top: 55px; }

footer {
  background: #2E6583;
  padding: 25px 0 35px; }
  footer ul li {
    font-size: 15px;
    color: #fff;
    margin-bottom: 15px;
    display: flex; }
    footer ul li:last-child {
      margin-bottom: 0; }
    footer ul li img {
      margin-right: 14px; }
  footer .right_side {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end; }
    footer .right_side .social_icons {
      border-bottom: 1px solid #fff;
      padding: 0 20px; }
      footer .right_side .social_icons a {
        color: #fff;
        font-size: 32px;
        margin-left: 10px; }
        footer .right_side .social_icons a:hover {
          text-decoration: unset; }
    footer .right_side p {
      color: #fff; }

.books_section {
  margin-top: 80px;
  margin-bottom: 80px;
  min-height: 50vh; }
  .books_section .books_section_item {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    max-width: 233px;
    height: 294px;
    transition: 0.3s;
    display: block;
    margin-bottom: 30px; }
    .books_section .books_section_item:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25); }
      .books_section .books_section_item:hover img {
        transform: scale(1.1); }
    .books_section .books_section_item img {
      transition: 0.3s; }
    .books_section .books_section_item .OLD_price {
      color: #2E6583;
      font-size: 18px;
      position: relative;
      font-weight: bold; }
      .books_section .books_section_item .OLD_price:before {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        background: #CA293A;
        left: 0px;
        top: 12px;
        transform: rotate(12deg); }
      .books_section .books_section_item .OLD_price:after {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        background: #CA293A;
        left: 0px;
        bottom: 12px;
        transform: rotate(-12deg); }
    .books_section .books_section_item .new_price {
      color: #F5973B;
      font-size: 20px;
      font-weight: bold; }

.instruction_section {
  margin-top: 70px;
  margin-bottom: 70px;
  color: #336A7E;
  font-size: 15px; }
  .instruction_section h4 {
    font-size: 20px; }
  .instruction_section .minecolor {
    color: #336A7E; }
  .instruction_section ul {
    list-style-type: circle;
    margin-left: 70px; }
    .instruction_section ul li {
      margin-bottom: 18px; }

.aboutus_section {
  margin-top: 70px;
  margin-bottom: 170px;
  color: #336A7E;
  font-size: 15px; }
  .aboutus_section img {
    max-width: 100%; }
  .aboutus_section .fade_p {
    display: none; }
  .aboutus_section .vvtt {
    transform: translateY(-40px);
    margin: 0px !important; }
  .aboutus_section h4 {
    font-size: 20px; }
  .aboutus_section .more_saitisS {
    cursor: pointer;
    font-weight: bold; }

.add_block_b {
  transform: translateY(50px); }

.more_books {
  margin-top: 100px; }
  .more_books .book_info h4 {
    color: #336A7E;
    font-size: 25px; }
  .more_books .book_info ul li {
    font-size: 15px; }
  .more_books .add_book {
    color: #2E6583;
    display: inline-block;
    border: 1px solid #2E6583;
    border-radius: 50px;
    padding: 6px 14px; }
    .more_books .add_book input {
      width: 25px;
      text-align: center;
      border: none;
      color: #2E6583;
      font-weight: bold;
      font-size: 21px; }
    .more_books .add_book i {
      cursor: pointer;
      color: #2E6583;
      font-size: 16px;
      display: inline-block; }
      .more_books .add_book i.plus_book {
        margin-left: 20px; }
      .more_books .add_book i.minus_book {
        margin-right: 20px; }
  .more_books .price {
    color: #336A7E;
    font-size: 23px;
    font-weight: bold; }
  .more_books .buy_b {
    border: 1px solid #C6C6C6;
    border-radius: 8px;
    color: #336A7E;
    font-size: 18px;
    padding: 13px 47px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.22);
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.3s; }
    .more_books .buy_b:hover {
      background: #67ac6e;
      border-color: #67ac6e; }
  .more_books .add_b {
    font-size: 15px;
    color: #336A7E;
    border-radius: 8px;
    padding: 7px 21px 7px 10px;
    border: 1px solid #C6C6C6;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.22); }
    .more_books .add_b:hover {
      background: #f6bd48;
      border-color: #f6bd48; }
    .more_books .add_b img {
      margin-right: 9px; }

.more_books_img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.31);
  max-width: 285px; }

.coments_block {
  margin-top: 100px; }
  .coments_block .col-md-12 {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
    padding: 16px 40px;
    margin-bottom: 10px; }
    .coments_block .col-md-12 i {
      font-size: 34px;
      color: #004988;
      margin-right: 20px; }
    .coments_block .col-md-12 .name {
      font-size: 13px;
      margin-bottom: 6px; }
  .coments_block .add_coment {
    margin-bottom: 70px; }
    .coments_block .add_coment textarea {
      width: calc(100% - 100px);
      border: 1px solid #707070;
      border-radius: 3px;
      padding: 5px 15px;
      color: #212121;
      font-size: 15px; }
    .coments_block .add_coment button {
      background: #34679A;
      font-size: 13px;
      border: 1px solid #707070;
      border-radius: 7px;
      padding: 6px;
      cursor: pointer;
      color: #fff; }

.registration {
  margin-bottom: 120px;
  margin-top: 40px; }
  .registration ul {
    display: flex;
    justify-content: center; }
    .registration ul li a {
      font-size: 12px;
      color: #336A7E !important; }
      .registration ul li a .nav-link.active {
        border: unset !important; }
  .registration .tab-content {
    border: 1px solid #2E6583; }

.login_logout input {
  border: unset;
  font-size: 12px;
  color: #2E6583;
  width: 169px; }
  .login_logout input::placeholder {
    color: #2E6583; }
  .login_logout input:focus {
    outline: none; }
.login_logout .input_out {
  border-bottom: 1px solid #2E6583;
  margin-bottom: 25px; }
  .login_logout .input_out i {
    padding-left: 12px;
    padding-right: 12px;
    color: #336A7E; }
  .login_logout .input_out span {
    color: #336A7E; }
.login_logout .tab-pane {
  padding-right: 22px;
  padding-left: 22px;
  padding-top: 11px;
  padding-bottom: 20px; }
  .login_logout .tab-pane s
  form {
    text-align: center; }
  .login_logout .tab-pane button {
    font-size: 12px;
    color: #336A7E;
    border: 1px solid #336A7E;
    background: transparent;
    padding: 4px 10px;
    border-radius: 60px;
    cursor: pointer; }
  .login_logout .tab-pane .recovery_pass {
    display: block;
    text-align: center;
    margin-top: 60px;
    color: #2E6583;
    font-size: 12px; }
.login_logout .errors {
  height: 40px;
  color: red;
  font-size: 13px; }

.produt_box_sh {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  background: #FCFCFC;
  padding-top: 20px;
  padding-bottom: 20px; }

#Basket {
  color: #336A7E; }
  #Basket .book_item {
    padding: 0 60px; }
    #Basket .book_item img {
      max-width: 70px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.31);
      margin: 14px; }
  #Basket .book_item_title {
    padding: 0 60px;
    padding-top: 60px;
    margin-bottom: 15px;
    font-weight: bold; }
  #Basket .item_price_b {
    font-size: 18px;
    font-weight: bold; }
  #Basket .item_price_sum {
    font-size: 18px;
    font-weight: bold; }
  #Basket .delet_itemb {
    display: inline-block;
    cursor: pointer; }

.bbg {
  padding-right: 69px;
  margin-top: 40px; }
  .bbg div:last-child {
    font-weight: bold; }

.reseand_books {
  padding-right: 69px;
  padding-bottom: 120px; }
  .reseand_books button {
    color: #336A7E;
    background: transparent;
    font-size: 17px;
    border: none;
    cursor: pointer;
    margin-top: 20px; }

.add_bookk {
  color: #2E6583;
  display: inline-block;
  border: 1px solid #2E6583;
  border-radius: 50px;
  padding: 4px 12px; }
  .add_bookk i {
    font-size: 16px; }
  .add_bookk i.minus_book {
    margin-right: 16px; }
  .add_bookk i.plus_book {
    margin-left: 16px; }
  .add_bookk input {
    width: 25px;
    text-align: center;
    border: none;
    color: #2E6583;
    font-weight: bold;
    font-size: 16px;
    font-weight: bold; }

.balnce_section {
  margin-top: 80px;
  margin-bottom: 140px; }
  .balnce_section .container {
    max-width: 850px; }
  .balnce_section .my_emauntbox {
    max-width: 320px;
    width: 100%;
    color: #336A7E;
    border: 1px solid #2E6583;
    border-radius: 5px;
    padding: 24px 36px;
    margin-top: 80px; }
  .balnce_section .payment_box {
    max-width: 320px;
    width: 100%;
    color: #336A7E; }
    .balnce_section .payment_box .p_inp {
      width: 85px;
      height: 25px;
      padding-left: 9px;
      font-size: 15px;
      border-radius: 5px;
      border: 1px solid #336A7E;
      color: #336A7E; }
      .balnce_section .payment_box .p_inp::placeholder {
        color: #336A7E; }
    .balnce_section .payment_box .box {
      background: #F5F5F5;
      border: 1px solid #336A7E;
      border-radius: 13px;
      padding: 15px 20px; }
      .balnce_section .payment_box .box input {
        height: 33px;
        padding-left: 7px;
        border: 1px solid #2E6583;
        font-size: 12px;
        color: #336A7E; }
        .balnce_section .payment_box .box input::placeholder {
          color: #336A7E; }
      .balnce_section .payment_box .box .month, .balnce_section .payment_box .box .year, .balnce_section .payment_box .box .CCV {
        width: 55px; }
      .balnce_section .payment_box .box .CCVT {
        font-size: 8px;
        text-align: right; }

.bbmt {
  margin-top: 14px;
  margin-bottom: 14px; }

section.profile {
  margin-top: 100px;
  margin-bottom: 120px; }
  section.profile .balance {
    color: #336A7E;
    border: 1px solid #336A7E;
    display: inline-block;
    max-width: 320px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.14);
    padding: 20px 36px; }
    section.profile .balance div {
      font-size: 15px; }
    section.profile .balance div.my_bal {
      font-size: 19px;
      font-weight: bold;
      margin-top: 15px;
      display: inline-block; }
  section.profile .book_item_title {
    padding-top: 40px !important; }
  section.profile .raodenob {
    font-size: 13px; }
    section.profile .raodenob span {
      font-size: 16px;
      font-weight: bold; }
  section.profile .order_history_item {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    background: #FCFCFC;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 75px;
    width: 100%; }
  section.profile .order_t {
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 15px;
    padding-left: 72px; }

section.order {
  color: #336A7E; }
  section.order select {
    height: 36px;
    font-size: 12px;
    padding-left: 13px;
    border: 1px solid #336A7E;
    border-radius: 5px;
    padding-right: 13px;
    color: #336A7E;
    margin-bottom: 13px !important;
    display: inline-block;
    margin-top: 10vh !important; }
    section.order select option:first-child {
      display: none; }
  section.order input {
    height: 36px; }
  section.order button {
    background: transparent;
    color: #336A7E;
    border: none;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
    font-size: 12px; }
  section.order textarea {
    min-height: 75px; }
  section.order input, section.order textarea {
    border: 1px solid #2E6583;
    border-radius: 4px;
    padding-left: 5px;
    font-size: 12px;
    color: #336A7E; }
    section.order input::placeholder, section.order textarea::placeholder {
      color: #336A7E;
      font-size: 12px; }
  section.order .pay_method a {
    color: #336A7E;
    font-size: 14px; }
  section.order .pay_method .circule {
    width: 8px;
    height: 8px;
    border: 1px solid #336A7E;
    border-radius: 40px;
    margin-right: 6px; }
  section.order .procent46 {
    width: 46%; }

.adgilze {
  color: #color;
  font-size: 14px; }

.d_none {
  display: none !important; }

#adgilze_gadaxda .circule {
  background: #336A7E; }

.pop_b {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  height: 200px;
  border-radius: 5px;
  border: 1px solid #336A7E;
  width: 100%;
  background: #fff;
  color: #336A7E; }
  .pop_b a {
    color: #336A7E;
    font-weight: bold; }

.cancel_pop {
  position: absolute;
  right: -15px;
  top: -15px;
  color: #336A7E;
  cursor: pointer; }

.Success {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  height: 200px;
  border-radius: 5px;
  border: 1px solid #336A7E;
  width: 100%;
  background: #fff;
  color: #336A7E; }
  .Success a {
    color: #336A7E;
    font-weight: bold; }

.navbar-toggler {
  background: url(images/bm.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.navbar-collapse {
  text-align: center; }

.mane_page_section article .book_buy_item .hover_block a.buy:hover {
  background: #44ae0e;
  color: #fff; }

#accessories_sider {
  background: #2E6583;
  margin-bottom: 70px; }
  #accessories_sider img.slider_img {
    border-radius: 500px;
    left: 50%;
    top: 45%;
    background: #fff;
    height: 270px;
    width: 270px; }
  #accessories_sider .carousel-caption {
    position: absolute;
    left: 3%;
    top: 26%;
    text-align: center; }
  #accessories_sider .slider_title {
    font-size: 15px; }
  #accessories_sider .carousel-caption {
    display: flex;
    text-align: left;
    max-width: 240px; }
    #accessories_sider .carousel-caption .slider_title_continue {
      font-size: 13px; }
    #accessories_sider .carousel-caption .slider_more {
      color: #F5973B;
      font-size: 15px;
      font-weight: bold;
      margin-top: 40px;
      display: inline-block; }
  #accessories_sider .left.carousel-control {
    left: -3%;
    z-index: 5; }
  #accessories_sider .right.carousel-control {
    right: -5%;
    z-index: 5; }
  #accessories_sider .buy_accessori {
    position: relative;
    max-width: 104px;
    position: absolute;
    right: 10%;
    top: 48%;
    transform: translate(-50%, -50%); }
    #accessories_sider .buy_accessori div {
      color: #F5973B;
      margin-bottom: 10px;
      font-size: 20px;
      font-weight: bold; }
    #accessories_sider .buy_accessori a {
      display: inline-block;
      width: 97px;
      height: 37px;
      font-size: 18px;
      color: #336A7E;
      border: 1px solid #C6C6C6;
      border-radius: 8px;
      background: #fff;
      margin-bottom: 6px; }

#accessories_nav .navbar-dark .navbar-nav .nav-link {
  color: #336A7E;
  display: inline-block;
  position: relative;
  transition: 0.3s; }
  #accessories_nav .navbar-dark .navbar-nav .nav-link:hover:before {
    display: block; }
  #accessories_nav .navbar-dark .navbar-nav .nav-link:before {
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    background: #2e6583;
    transform: translateX(-50%) rotate(45deg);
    bottom: -36px;
    left: 50%;
    z-index: -1;
    display: none;
    transition: 0.3s; }
  #accessories_nav .navbar-dark .navbar-nav .nav-link.active:before {
    display: block; }
#accessories_nav ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold; }

@media only screen and (max-width: 1000px) {
  #accessories_nav .navbar-dark .navbar-nav .nav-link {
    font-size: 14px; } }
@media only screen and (max-width: 769px) {
  #accessories_sider .carousel-caption .slider_more {
    margin-top: 20px; }

  #accessories_nav .navbar-toggler {
    margin: auto;
    color: #336A7E;
    background: none; }

  #accessories_nav .navbar-dark .navbar-nav .nav-link {
    margin-bottom: 0px; }

  #accessories_nav .navbar-dark .navbar-nav .nav-link:before {
    display: none !important; }

  .navbar-collapse {
    text-align: center; }
    .navbar-collapse form {
      text-align: center;
      max-width: 222px;
      margin: auto; }

  #accessories_sider img.slider_img {
    width: 200px;
    height: 200px; }

  .top_heder_bg ul a {
    font-size: 14px;
    padding: 7px; }

  .top_heder_bg .right_side a {
    font-size: 14px; }

  .slider_bg .carousel-caption {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 14%;
    text-align: center;
    color: #000; }

  .slider_bg .carousel-caption .new_price {
    font-size: 24px;
    color: #F5973B;
    border: 1px solid #F5973B;
    border-radius: 50px;
    padding: 6px 30px 8px;
    text-align: left;
    right: 0px;
    position: relative;
    width: 80%;
    margin: auto;
    margin-top: 16px;
    text-align: center; }

  .mane_page_section article .book_buy_item {
    margin: auto;
    margin-bottom: 24px; }

  footer .left_side ul li {
    font-size: 13px; }

  footer .right_side p {
    text-align: center;
    font-size: 13px; }

  footer .right_side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }

  .more_saitisS {
    text-decoration: underline; }

  .aboutus_section p, a, div, span, h4 {
    text-align: center !important; }

  .aboutus_section .vvtt {
    transform: none;
    margin-top: 20px;
    text-align: center; }

  .aboutus_section {
    margin-top: 30px; }

  .add_bookk {
    padding: 1px 4px; }

  .add_bookk i.minus_book {
    margin-right: 0px; }

  .add_bookk i.plus_book {
    margin-left: 0px; }

  #Basket .book_item {
    padding: 0px; }

  .book_item > div {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px; }

  .book_item > span {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px; }

  #Basket .book_item img {
    margin: 10px 4px; }

  .balnce_section .payment_box {
    max-width: 320px;
    width: 100%;
    color: #336A7E;
    margin: 41px auto; }

  .balnce_section .my_emauntbox {
    margin: auto; }

  .balnce_section {
    margin-top: 33px;
    margin-bottom: 140px; }

  #accessories_sider .carousel-caption {
    position: absolute;
    left: 12%;
    max-width: 176px; }

  #accessories_sider .buy_accessori {
    position: relative;
    max-width: 104px;
    position: absolute;
    right: -7%; }

  #accessories_sider .carousel-caption .slider_more {
    transform: unset !important;
    position: relative; } }
@media only screen and (max-width: 576px) {
  footer .left_side ul li img {
    margin-right: 0px; }

  .top_header {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center !important; }

  #accessories_sider .buy_accessori a {
    display: inline-block;
    width: 84px;
    height: 29px;
    font-size: 15px;
    color: #336A7E;
    border: 1px solid #C6C6C6;
    border-radius: 8px;
    background: #fff;
    margin-bottom: 6px; }

  #accessories_sider .slider_caption {
    background: #ffffffc2;
    border-radius: 10px; }

  #accessories_sider .left.carousel-control {
    left: 2%; }

  #accessories_sider .carousel-caption {
    position: absolute;
    left: 28%;
    max-width: 139px;
    font-size: 16px;
    font-weight: bold; }

  .book_item_k {
    flex-direction: column !important; }

  .add_bookk i {
    font-size: 14px; }

  #Basket .delet_itemb {
    transform: translateY(-50px); }

  #Basket .book_item {
    margin-bottom: 15px; }

  #Basket .book_item img {
    margin: auto; }

  .bbg {
    padding-right: 10px; }

  section.order .pay_method a {
    color: #336A7E;
    font-size: 13px; }

  .section.order select {
    margin-top: 3vw; }

  .registration {
    margin-top: 0px; }

  section.profile .order_history_item {
    padding-left: 13px; }

  section.profile .order_t {
    margin-left: auto;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 15px;
    padding-left: 0px; }

  section.profile {
    margin-top: 34px;
    margin-bottom: 70px; }

  .order_history_item {
    margin-bottom: 15px;
    justify-content: center; } }
@media only screen and (max-width: 520px) {
  .top_heder_bg ul a {
    font-size: 11px;
    padding: 6px; }

  .top_heder_bg .right_side a {
    font-size: 12px; }

  .top_heder_bg .right_side .profile img {
    width: 14px; }

  .top_heder_bg .right_side .kalata img {
    margin-right: 4px;
    width: 14px; }

  .top_heder_bg .right_side .kalata {
    margin-right: 3px; }

  .top_header {
    padding-right: 5px;
    padding-left: 5px; }

  footer .container {
    flex-wrap: wrap;
    justify-content: center !important;
    align-items: center; }

  footer .left_side ul li {
    font-size: 13px;
    flex-direction: column;
    text-align: center; }

  footer .left_side ul {
    padding-bottom: 40px; }

  .social_icons {
    margin-bottom: 10px; }

  .instruction_section ul {
    list-style-type: circle;
    margin-left: 20px; }

  .more_books_img {
    width: calc(100% - 170px); }

  .add_block_b {
    transform: none; }

  .more_books .add_book {
    border-radius: 50px;
    padding: 0px 10px; }

  .more_books .buy_b {
    font-size: 17px;
    padding: 4px 29px;
    margin-top: 8px;
    margin-bottom: 8px;
    transition: 0.3s; }

  .more_books .add_b {
    font-size: 12px;
    border-radius: 8px;
    padding: 1px 21px 7px 10px; }

  .more_books .book_info h4 {
    color: #336A7E;
    font-size: 18px;
    text-align: center;
    margin-top: 19px; }

  .more_books .book_info p {
    text-align: center; }

  .more_books .book_info ul {
    text-align: center; }

  .coments_block .add_coment textarea {
    width: calc(100% - 87px);
    min-height: 87px; }

  .more_books {
    margin-top: 30px; } }

/*# sourceMappingURL=style.css.map */
